@* Layout/NavMenu.razor *@

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ByteBank</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cuentahabientes">
                <span class="bi bi-people" aria-hidden="true"></span> Cuentahabientes
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cuentas">
                <span class="bi bi-credit-card" aria-hidden="true"></span> Cuentas
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="movimientos">
                <span class="bi bi-currency-dollar" aria-hidden="true"></span> Movimientos
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="prestamos">
                <span class="bi bi-bank" aria-hidden="true"></span> Préstamos
            </NavLink>
        </div>
        
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="titulares">
                <span class="bi bi-person-badge" aria-hidden="true"></span> Titulares
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="catalogos">
                <span class="bi bi-list-task" aria-hidden="true"></span> Catalogos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ciudades">
                <span class="bi bi-building" aria-hidden="true"></span> Ciudades
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sucursales">
                <span class="bi bi-building" aria-hidden="true"></span> Sucursales
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tipos-cuenta">
                <span class="bi bi-wallet2" aria-hidden="true"></span> Tipos de Cuenta
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tipos-documento">
                <span class="bi bi-file-earmark-text" aria-hidden="true"></span> Tipos de Documento
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tipos-movimiento">
                <span class="bi bi-arrow-left-right" aria-hidden="true"></span> Tipos de Movimiento
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tipos-sucursal">
                <span class="bi bi-briefcase" aria-hidden="true"></span> Tipos de Sucursal
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}